* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'natalia';
  src: url(../assets/natalia.ttf)
}



body {
  font-family: natalia;
  margin: 0;
  padding: 0;
}

/*DESCRIPCION Y FOTO*/
h1 {
  text-align: center;

}

#introduccion {
  height: auto;

}

.descripcion::first-letter {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}

.natalia {
  display: flex;
  /*height: auto;*/
  width: cover;
  transition: 1s;
}
.codigo{
  height: 6rem;
}

@media (min-width:100px) and (max-width:991px) {
  .lila {
    height: auto;
    background-image: url(../assets/lila.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
  }
}

@media   (min-width:991.5px) {
  .lila {
    height: auto;
    background-image: url(../assets/lila.png);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    transition: 1s;
  }
}

/* TERMINA DESCRIPCION Y FOTO*/

/* COMIENZAN PROYECTOS*/
#skills {
  text-align: center;
  font-size: 40px;
}


.proyecto1 {
  display: grid;
  justify-content: space-between;
  height: auto;
}

.proyecto2 {
  display: grid;
  justify-content: space-between;
  height: auto;
}

.proyecto3 {
  display: grid;
  justify-content: space-between;
  height: auto;
}

.proyecto4 {
  display: grid;
  justify-content: space-between;
  height: auto;
}

.proyecto5 {
  display: grid;
  justify-content: space-between;
  height: auto;
}

.proyecto6 {
  display: grid;
  justify-content: space-between;
  height: auto;
}

.proyecto7 {
  display: grid;
  justify-content: space-between;
  height: auto;
}

.proyecto8 {
  display: grid;
  justify-content: space-between;
  height: auto;
}

.proyecto9 {
  display: grid;
  justify-content: space-between;
  height: auto;
}

/* TERMINAN PROYECTOS*/
.sabroso {
  height: 5rem;
}

#proyectos {
  text-align: center;
  font-size: 40px;
}

.azul {
  background-image: url(../assets/fondo\ azul.png);
  background-size: 103% 103%;
  background-repeat: no-repeat;
}
